oggm @ git+https://github.com/gampnico/oggm@feat-dtcg
numpy
pandas
xarray
rioxarray
shapely
salem
scipy
geopandas
pyproj
affine
rasterio
bokeh
geoviews
holoviews
matplotlib
schema
seaborn
specklia
pyyaml
ipywidgets
pytest<9.0
coverage
coveralls
numcodecs
zarr
requests
aiohttp
