oggm @ git+https://github.com/gampnico/oggm@feat-dtcg
numpy
pandas
xarray
rioxarray
shapely
geopandas
bokeh
geoviews
holoviews
matplotlib
schema
seaborn
specklia
pyyaml
ipywidgets
pytest<9.0
coverage
coveralls
numcodecs
zarr
requests
aiohttp
